# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# macOS
.DS_Store

# Data
*.csv
*.json
*.yml
*.yaml

# IDE
.vscode/


# Build
build/
*egg-info/ 